{{#each this}}
<li class="slider__item">
  <div class="hero-slider__description">
    <p class="hero-slider__title">{{title}}</p>
    <p class="hero-slider__price">{{price}}</p>
  </div>
  <img class="slider__img" src="{{imageUrl}}" alt="{{title}}">
</li>
{{/each}}