{{#each this}}
<li class="slider__item">
  <div class="slider__description">
    <p class="slider__title">{{title}}</p>
    <p class="slider__price">{{price}}</p>
  </div>
  <img class="slider__img" src="{{imageUrl}}" alt="{{title}}">
</li>

{{/each}}