<button class="main__create-ad-btn modal-btn orange"></button>
<section class="categories">
  <div class="container container-categories"></div>
</section>
<button class="loader loader__btn-hover">
  <div class="loader-animation loader__btn">
    <span class="left-loader-wave"></span>
    <span class="left-loader-wave"></span>
    <span class="left-loader-wave"></span>
    <span class="left-loader-wave"></span>
    <span class="left-loader-wave"></span>
    <span class="left-loader-wave"></span>
    <span class="left-loader-wave"></span>
    <p type="button" class="loader__btn loader-text">Загрузить ещё</p>
    <span class="right-loader-wave"></span>
    <span class="right-loader-wave"></span>
    <span class="right-loader-wave"></span>
    <span class="right-loader-wave"></span>
    <span class="right-loader-wave"></span>
    <span class="right-loader-wave"></span>
    <span class="right-loader-wave"></span>
  </div>
</button>
{{!-- <div class="spinner" id="spin"></div> --}}