{{#each}}
<div class="student-modal">

    <button type="button" class="student-modal__close-btn"></button>

    <h2 class="student-modal__form--title">Наша команда</h2>

    <ul class="student-modal__list">
        <li class="student-modal__item">
            <img class="student-modal__avatar" src="" alt="" width="120" height="120">
            <p class="student-modal__name">Михайло Ковальчук</p>
            <p class="student-modal__tasks">TeamLead</p>
        </li>

    </ul>

</div>
{{/each}}