.category-card {
  background-color: #ffffff;
  box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.5);
  font-family: MontserratBold;
  font-style: normal;
  font-weight: 700;
}

.category-card:hover,
.category-card:focus {
  transform: scale(1.1);
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .category-card {
    width: 290px;
    height: 300px;
  }

  .category-card__img {
    width: 290px;
    height: 239px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .category-card {
    width: 334px;
    height: 306px;
  }

  .category-card__img {
    width: 334px;
    height: 239px;
  }
}

@media screen and (min-width: 1280px) {
  .category-card {
    width: 286px;
    height: 306px;
  }

  .category-card__img {
    width: 286px;
    height: 239px;
  }
}

.category-card__name {
  margin: 2px auto 3px;
  text-align: center;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
}

.category-card__prices {
  display: flex;
  justify-content: center;
}

.category-card__price--old {
  text-align: center;
  margin-right: 16.5px;
  height: 15px;
  width: 71px;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  padding: 1px;
  text-decoration: none;
  background: linear-gradient(
    transparent 8.5px,
    #000000 8.5px,
    #000000 9.5px,
    transparent 9.5px
  );
  color: #bbbbbb;
}

.category-card__price--new {
  height: 15px;
  font-size: 12px;
  line-height: 1.25;
  padding: 1px;
  letter-spacing: 0.04em;
  color: #ff6b09;
}
