{{#each this}}
<li class="category-card sliders-item">
    {{#each imageUrls}}
    <img class="category-card__img" src="{{this}}" alt="photo {{title}}">
    {{/each}}
    <p class="category-card__name">{{title}}</p>
    <div class="category-card__prices">
        <p class="category-card__price--new">{{price}} €</p>
    </div>
</li>
{{/each}}