{{!-- <div class="acc-cabinet-menu">
    <ul class="acc-cabinet-list">
        <li class="acc-cabinet-item">
            <p class="acc-cabinet-content orange">Мои объявления</p>
        </li>
        <li class="acc-cabinet-item">
            <p class="acc-cabinet-content orange">Избранное</p>
        </li>
    </ul>
</div> --}}