<button id="signInHeader" class="sign-in__btn" data-btn="signin">Вход</button>
<span class="sign-in-up__stick"></span>
<button id="signUpHeader" class="sign-up__btn" data-btn="signup">Регистрация</button>