<div class="logOut__wrap">
    <button type="button" class="authForm__btn_cls logOut" name="close">
        <svg class="authForm__slsBtn_svg" width="14px" height="14px">
            <use href="./images/auth/close-24px.svg" class="authForm__svg"></use>
        </svg>
    </button>

    <p class="authForm__txt_out">
        Вы точно хотите выйти из аккаунта?
    </p>
    <div class="authForm__buttons ">

        <button type="submit" name="logIn" class="authForm__btn_logOut">
            Выйти
        </button>
        <button type="submit" name="signUp" class="authForm__btn_exit">
            Отмена
        </button>
    </div>
</div>