<form class="authForm" name="authForm">
    <button type="button" class="authForm__btn_cls" name="close">
    </button>
    <div class="authForm__google">
        <p class="authForm__txt">
            Для авторизации можете использовать Google Account:
        </p>
        <button type="submit" name="authForm__btn_google">
            <svg class="authForm__google_svg" width="18px" height="18px">
                <use href="./images/auth/google-symbol.svg"></use>
            </svg>
            Google
        </button>
    </div>
    <div class="authForm__main">
        <p class="authForm__txt">
            Войдите в приложение используя e-mail и пароль:
        </p>
        <p class="mistake__email"></p>
        <input type="email" name="email" class="authForm__input" placeholder="Email" />
        <p class="mistake__password"></p>
        <input type="password" autocomplete="of" name="password" class="authForm__input" placeholder="Password" />
        <div class="authForm__buttons">
            <button type="submit" name="logIn" class="authForm__btn_logIn active">
                Войти
            </button>
            <button type="submit" name="signUp" class="authForm__btn_signUp">
                Регистрация
            </button>
        </div>
    </div>
</form>