.modal-wrapper {
  position: relative;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: auto;
  overflow-x: hidden;
}

.is-open {
  pointer-events: initial;
  opacity: 1;
  visibility: visible;
}

/* .modal-div {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  background-color: #ffffff;
} */

/* .modalBD__close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: transparent;
  width: 14px;
  height: 14px;
  background-image: url('../../images/icons/close/close-24px.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;
} */
