<li class="category-card">
  <!-- <picture class="card__picture">
      <source srcset="" media="(min-width:1280px)" type="image/webp">
      <source srcset="" media="(min-width:1280px)">
      <source srcset="" media="(min-width:768px)" type="image/webp">
      <source srcset="" media="(min-width:768px)">
      <source srcset="" media="(min-width:320px)" type="image/webp">
      <source srcset="" media="(min-width:320px)">
      <img class="card__img" src="./components/card/images/card-1.jpg" alt="photo Victrola Vintage">
    </picture> -->
  <img class="category-card__img" src="./components/card/images/card-1.jpg" alt="photo Victrola Vintage">
  <p class="category-card__name">Victrola Vintage</p>
  <div class="category-card__prices">
    <p class="category-card__price--old">2,000 €</p>
    <p class="category-card__price--new">1,200 €</p>
  </div>
</li>