.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #122438;
  z-index: 100000;
}
.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -50px;
  margin-left: -50px;
  text-align: center;
  animation: preloader-rotate 5s infinite linear;
}
.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #ff6b09;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  animation: preloader-bounce 5s infinite ease-in-out;
}
.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -2s;
}
@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}
.loaded .preloader {
  display: none;
}
.spinLoad {
  display: block;
}
