{{!-- <form class="search-form js-search-form" id="search-form">
    <input class="mobile-input-closed" type="text" name="query" placeholder="Поиск товаров..." />
    <button class="mobile-input-btn" type="submit">ПОШУК</button>
</form> --}}