{{#each this}}
<div class="search__card">
    <img class="search___img" src="{{imageUrls}}" alt="{{description}}" />

    <div class="search__info">
        <p class="search__title">{{title}}</p>
        <p class="search__price">{{price}}</p>

    </div>
</div>
{{/each}}