<li class="filter-item item">
    <a href="#" class="filter-item-btn">
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        Недвижимость</a>
</li>
<li class="filter-item item">
    <a href="#" class="filter-item-btn">
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        Транспорт</a>
</li>
<li class="filter-item item">
    <a href="#" class="filter-item-btn">
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        Работа</a>
</li>
<li class="filter-item item">
    <a href="#" class="filter-item-btn">
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        Электроника</a>
</li>
<li class="filter-item item">
    <a href="#" class="filter-item-btn">
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        Бизнес и услуги
    </a>
</li>
<li class="filter-item item">
    <a href="#" class="filter-item-btn">
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        Отдых и спорт
    </a>
</li>
<li class="filter-item item">
    <a href="#" class="filter-item-btn">
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        Отдам бесплатно
    </a>
</li>
<li class="filter-item item">
    <a href="#" class="filter-item-btn">
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        Обмен</a>
</li>