{{#each this}}
<li class="slider-item">
  <div class="slider-item__description">
    <p class="slider-item__title">{{title}}</p>
    <p class="slider-item__price">{{price}}</p>
  </div>
  <img class="slider-item__image" src="{{imageUrl}}" alt="{{title}}">
</li>
{{/each}}