<div class="file_load">
    <input id="file_load" type="file" class="input_load_file">
    <label for="file_load" class="label_load">
        <span class="file_load-plus_load">+</span>
        <img src="" class ="img-adv-box is-visible">
    </label>
</div>