.mobile-menu-closed {
  transform: translate(0vh);
  color: #818181;
}

.mobile-menu-closed {
  position: absolute;
  left: -93.75vw;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 93.75vw;
  height: 100vh;
  background-color: var(--modal-bg-color);
  transition: 0.5s;
  z-index: 3;
}

.mobile-menu-opened {
  box-shadow: 15px 0px 25px 0px rgba(29, 29, 27, 0.15);
  transform: translateX(93.75vw);
  transition: 0.5s;
  z-index: 4;
}

@media (max-width: 767px) {
  .mobile-burger {
    border: none;
    outline: none;
    width: 24px;
    height: 24px;
    background: url(../../menu/icons/dehaze-24px.svg);
  }

  .mobile-burger:hover,
  .mobile-burger:focus {
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: url(../../menu/icons/dehaze-24px-orange.svg);
  }

  .mobile-burger-blue:hover,
  .mobile-burger-blue:focus {
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: url(../../menu/icons/dehaze-24px-blue.svg);
  }

  .mobile-menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .mobile-menu-wrapper {
    display: none;
  }
}
