.accent-color-switcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  border-radius: 40px;
  right: 55vh;
  top: 8.7vh;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .accent-color-switcher {
    margin-right: 7px;
  }
}

.accent-color-switcher label {
  position: relative;
}

.accent-color-switcher label:nth-child(1) {
  margin-bottom: 5px;
}

.accent-color-switcher label input {
  appearance: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .accent-color-switcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 74px;
    border-radius: 40px;
    transform: rotate(-7deg) translate(6px, 4px);
  }
}

/* ============================================================= */

.accent-color-switcher label .fa {
  position: relative;
  width: 20px;
  height: 20px;
  background: #112437;
  line-height: 20px;
  text-align: center;
  color: #6f6f6f;
  font-size: 8px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8);
}

.accent-color-switcher label .fa:hover,
.accent-color-switcher label .fa:focus {
  color: #ff6b08;
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8),
    inset -2px -2px 10px rgba(255, 255, 255, 0.05),
    inset 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.accent-color-switcher label input:checked ~ .fa {
  color: #ff6b08;
  box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 1);
  text-shadow: 0 0 5px #ff6b08, 0 0 20px #ff6b08;
}

/* ========================================================= */

.accent-color-switcher label:nth-child(2) .fa {
  position: relative;
  width: 20px;
  height: 20px;
  background: #112437;
  line-height: 20px;
  text-align: center;
  color: #6f6f6f;
  font-size: 8px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8);
}

.accent-color-switcher label:nth-child(2) .fa:hover,
.accent-color-switcher label:nth-child(2) .fa:focus {
  color: #00bcd4;
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8),
    inset -2px -2px 10px rgba(255, 255, 255, 0.05),
    inset 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.accent-color-switcher label:nth-child(2) input:checked ~ .fa {
  color: #00bcd4;
  box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 1);
  text-shadow: 0 0 5px #00bcd4, 0 0 20px #00bcd4;
}
