.accent-color-switcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  transform: rotate(90deg);
  right: 55vh;
  top: 8.7vh;
}

.accent-color-switcher label {
  position: relative;
  margin: 5px 0;
  cursor: pointer;
}

.accent-color-switcher label input {
  appearance: none;
  display: none;
}

.accent-color-switcher label span {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  background: #222;
  border-radius: 40px;
  box-shadow: inset 0 2px 15px rgba(0,0,0,0.2),
              inset 0 2px 2px rgba(0,0,0,0.2),
              inset 0 -1px 1px rgba(0,0,0,0.2);
}

.accent-color-switcher label .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5),
              inset 0 1px 1px rgba(255,255,255,0.1);
  transition: 0.5s;
  transform: scale(0.9);
}

.accent-color-switcher label input:checked ~ .indicator {
  left: 20px;
}

.accent-color-switcher label .indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background: var(--main-accent-color);
  border-radius: 50%;
  transition: 0.5s;
  box-shadow: 0 0 2px var(--main-accent-color),
              0 0 5px var(--main-accent-color),
              0 0 10px var(--main-accent-color),
              0 0 15px var(--main-accent-color),
              0 0 20px var(--main-accent-color),
              0 0 25px var(--main-accent-color),
              0 0 30px var(--main-accent-color),
              0 0 40px var(--main-accent-color);
}

.accent-color-switcher label input:checked ~ .indicator::before {
  background: var(--main-accent-color);
  border-radius: 50%;
  box-shadow: 0 0 2px var(--main-accent-color),
              0 0 5px var(--main-accent-color),
              0 0 10px var(--main-accent-color),
              0 0 15px var(--main-accent-color),
              0 0 20px var(--main-accent-color),
              0 0 25px var(--main-accent-color),
              0 0 30px var(--main-accent-color),
              0 0 40px var(--main-accent-color);
}